@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body, html {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #c2a870;
    height: 100vh;
    
}

section {
    background-color: white;
    text-align: center;
    width: 50%;
    min-width: 400px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: .5px .5px .5px rgba(0, 0, 0, 0.356);

}

div {
    font-size: 3em;
    font-weight: bolder;
    margin-bottom: 10px;
}

div#botoes {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

button {
    height: 25px;
    width: 60px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.267);    
    cursor: pointer;
}

