@charset "UTF-8";

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@media screen and (max-width: 375px) {
    main {
        background-color: #F0F0F0;
        position: relative;
        height: 100vh;
    }

    section {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        background-color: white;
        height: 80%;
        width: 80%;
        margin: auto;
        padding: 30px 10px;
        border-radius: 20px 20px;
    }

    form {
        height: 18%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        text-align: center;
    }

    form div {
        width: calc(100% / 3);
        height: 100%;
    }

    form label {
        padding: 0px 0px 3px 20px;
        text-align: left;
        display: block;
    }

    form input {
        height: 30px;
        width: 55px;
        border: 1px solid rgba(0, 0, 0, 0.253);
        border-radius: 5px;
    }

    hr {
        display: inline-block;
        width: 95px;   
    }

    #div-button {
        width: 100%;
    }

    #img-button {
        background-color: #854AFF;
        border-radius: 50%;
    }
    
    button {
        position: relative;
        bottom: -18px;
        background-color: #854AFF;
        border: none;
        border-radius: 50%;
    }

}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}